<nav class="bg-slate-400 w-1/6 hidden md:flex flex-col text-center p-4 justify-between sticky top-20 h-[calc(100vh-80px)]">
  <div>
    sidebar top
  </div>
  <div>
    sidebar bottom
  </div>
</nav>
